:root {
      --background: #f9f9f9;
      --negro: #000000;
      --blanco: #f4e5ff;
      --badge: #e74c3c;
      --btnAgregar: #8e44ad;
      --btnAgregarHover: #219150;
}

body {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      background-color: var(--background);
      color: var(--negro);
      margin: 0;
}

.navbar {
      background-image: radial-gradient(at 99.18895578996047% 69.72010646437656%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 1) 0%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 0) 100%), radial-gradient(at 63.65117545495587% 58.189574637236%, hsla(197.95918367346937, 65.33333333333333%, 44.11764705882353%, 1) 0%, hsla(197.95918367346937, 65.33333333333333%, 44.11764705882353%, 0) 100%), radial-gradient(at 21.91942676285301% 38.29319981343797%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 1) 0%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 0) 100%), radial-gradient(at 62.399969429307234% 61.306099438772456%, hsla(197.95918367346937, 65.33333333333333%, 44.11764705882353%, 1) 0%, hsla(197.95918367346937, 65.33333333333333%, 44.11764705882353%, 0) 100%), radial-gradient(at 79.808946769041% 90.22749386625651%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 1) 0%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 0) 100%), radial-gradient(at 99.56498533702782% 33.59487367395724%, hsla(197.95918367346937, 65.33333333333333%, 44.11764705882353%, 1) 0%, hsla(197.95918367346937, 65.33333333333333%, 44.11764705882353%, 0) 100%), radial-gradient(at 41.21712324289606% 30.350529259064984%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 1) 0%, hsla(290.13698630136986, 65.17857142857143%, 43.92156862745098%, 0) 100%);
      color: var(--blanco);
      font-weight: 600;
      padding: 10px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      /* Relativo hasta que el scroll llega a su punto, entonces se fija como fixed */
      top: 0;
      z-index: 1000;
}
.navbar h1{
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
}
.contenedor-carrito-icono {
      position: relative;
      cursor: pointer;
}

#badge {
      background-color: var(--badge);
      color: var(--blanco);
      padding: 2px 8px;
      border-radius: 50%;
      font-size: 12px;
      position: absolute;
      top: -10px;
      right: -18px;
}
@keyframes rebote-badge {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
.animar-rebote {
  animation: rebote-badge 0.3s ease-in-out;
}

.contenedor-principal {
      max-width: 1200px;
      margin: 32px auto;
      display: grid;
      grid-template-columns: 1fr 350px;
      gap: 32px;
      padding: 0 16px;
}

.grid-productos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 24px;
}

.tarjeta-producto {
      background-color: var(--blanco);
      border-radius: 8px;
      /* ocultar contenido que se sobresalga */
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.tarjeta-producto:hover {
      transform: translateY(-5px)
}

.tarjeta-producto p {
      font-family: "Montserrat", sans-serif;
}

.tarjeta-producto img {
      width: 370px;
      height: auto;
      /* ajusto las imagenes dentro del contenedor sin que se deformen */
      object-fit: cover;
}

.btn-agregar {
      background-color: var(--btnAgregar);
      color: var(--blanco);
      border-radius: 15px;
      padding: 10px 16px;
      cursor: pointer;
      align-self: center;
}

.btn-agregar:hover {
      background-color: var(--btnAgregarHover);
}

.seccion-carrito {
      background: var(--blanco);
      padding: 24px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: fit-content;
}

.header h2 {
      font-size: 25px;
      text-align: center;
}

#listaCarrito {
      list-style: none;
      padding: 0;
      margin-top: 16px;
}

.item-carrito {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 8px 0;
}

.contenedor-carrito {
      justify-content: center;
      align-items: center;
      text-align: right;
}

#btn-vaciar {
      width: 100%;
      background-color: transparent;
      color: var(--badge);
      border: 2px solid var(--badge);
      padding: 8px;
      margin-top: 16px;
      cursor: pointer;
      border-radius: 4px;
      font-weight: bold;
}

#btn-vaciar:hover {
      background-color: var(--badge);
      color: var(--blanco);
}

@media (max-width: 768px) {
      .contenedor-principal {
            grid-template-columns: 1fr;
      }
}